
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center">Resend unlock instructions</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-body">	
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  	<%= devise_error_messages! %>

  	<div class="field form-group">
    		<%= f.label :email %><br />
    		<%= f.email_field :email, class: "form-control", autofocus: true %>
  	</div>

  	<div class="actions">
    		<%= f.submit "Resend unlock instructions", class: "btn btn-primary" %>
  	</div>
	<% end %>
       </div>
       <div class="panel-footer">
	<%= render "devise/shared/links" %>
       </div>
    </div>
  </div>
</div>
