<header>
    <div class="navbar navbar-ocean navbar-fixed-top">
       <div class="navbar-inner">
         <div class="container-fluid">
              <div class="navbar-header">
                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-targer=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                   </button>              
                   <%= link_to '#', { class: 'navbar-brand'}  do%>
                      <span class="brand">Easify</span> <small class="brand">by J.S. UNITRADE</small>
                   <% end %>
              </div>

              <div class="collapse navbar-collapse">
                   <ul class="nav navbar-nav navbar-right">
                       <li><%= link_to "About Us", "#"%></li>
                       <li><%= link_to "Contact Us", "#"%></li>
                       <li><%= link_to "Help", "#"%></li>
                       <li><%= link_to "Log in",  new_user_session_path %></li>
                   </ul>
              </div>
         </div>
       </div>
    </div>
</header>
